[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nfcpy = "*"
flask = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "python main.py"
export = "python output_excel.py"
